.container {
  display: block;
  padding: 80px 300px;
}

.CurrentInfo {
  display: block;
  padding: 40px 2px;
}
.WeeklyInfo {
  max-width: 900px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 500;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #dc9cfc;
}
.hari {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.storm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5px;
}
.hotinhere {
  font-weight: 400;
}
