body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 200;
  color: #08070a;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

footer {
  font-size: 15px;
  font-weight: 600;
  color: #dc9cfc;
}

.weather-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #dc9cfc;
  border-radius: 6px;
}

.container {
  display: block;
  padding: 70px 300px;
}
.DayInfo {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 25px;
}

.DayInfo strong {
  color: #08070a;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.CurrentInfo {
  display: block;
  padding: 40px 2px;
}
.WeeklyInfo {
  max-width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}
.hari {
  font-size: 20px;
  font-weight: 400;
}
.storm {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5px;
}
.hotinhere {
  font-weight: 400;
}
.fa-sun {
  color: #faa5f8;
}
