.weather-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #dc9cfc;
  border-radius: 6px;
}

.container {
  display: block;
  padding: 80px 300px;
}

.CurrentInfo {
  display: block;
  padding: 40px 2px;
}
.WeeklyInfo {
  max-width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 200;
  color: #878787;
  line-height: 28px;
  margin-bottom: 0;
}
h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

footer {
  font-size: 15px;
  font-weight: 600;
  color: #dc9cfc;
}
.hari {
  font-size: 20px;
  font-weight: 400;
}
.storm {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5px;
}
.hotinhere {
  font-weight: 400;
}
